* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #F5E8D9;
}

div {
    width: 900px;
    margin: 10px auto;
}

h1 {
    color: rgb(255, 255, 255);
    font-family: Georgia, 'Times New Roman', Times, serif;  
    font-style: italic;
    background-color: #6e9143;
    text-align: center;
    padding: 10px; 
    font-size: 50px;
}

ul {
    text-align: center;
}

li {
    display: inline-block;
    border: 3px dotted #6e9143;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 20px;
    background-color: #fff7f3;
    font-size: 19px;
}

.recipe2 {
    margin-right: 30px;
    margin-left: 30px;
}

img {
    width: 232px;
    display: block;
    padding-top: 10px;
    margin: 0 auto;
}

a:visited {
    text-decoration: none;
    color: #502c18;
}

a:link {
    text-decoration: none;
    color: #502c18;
}

a:hover {
    text-decoration: none;
    color: #502c18;
}

a:active {
    text-decoration: none;
    color: #502c18;
}



