* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

div {
    background-color: #F5E8D9;
}

h1 {
    color: rgb(255, 255, 255);
    font-family: Georgia, 'Times New Roman', Times, serif;  
    position:relative;
    padding-left: 10px;
    font-style: italic;
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: #6e9143;
}

a:hover {
    color: #6e9143;
}

ul {
    background-color: #F5E8D9;
    position:relative;
    padding-bottom: 20px;
}