* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #F5E8D9;
}

div {
    width: 900px;
    margin: 10px auto;
}

h1 {
    color: rgb(255, 255, 255);
    font-family: Georgia, 'Times New Roman', Times, serif;  
    font-style: italic;
    background-color: #6e9143;
    text-align: center;
    padding: 10px; 
    font-size: 50px;
}

img {
    width: 900px;
    height: 500px;
    object-fit: cover;
}

.descrip, .ingredients, .steps {
    color: #6e9143;
    font-size: 25px;
    display: inline-block;
    width: 285px;
    vertical-align: top;
    height: 450px;
    margin: 0;
}

.ingredients {
    margin-left: 16px;
    margin-right: 16px;
}

li {
    margin-left: 1em;
}

p, ul, ol {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #502c18;
    font-size: 18px;
}

a {
    display: inline-block;
    background-color: #6e9143;
    padding: 10px;
}

a.link-main {
    margin-right: 661px;
}

a:visited {
    text-decoration: none;
    color: white;
}

a:link {
    text-decoration: none;
    color: white;
}

a:hover {
    text-decoration: none;
    color: white;
}

a:active {
    text-decoration: none;
    color: white;
}

