div {
    background-color: #F5E8D9;
    padding-bottom: 50px;
}

h1 {
    color: rgb(255, 255, 255);
    font-family: Georgia, 'Times New Roman', Times, serif;  
    position:relative;
    padding-left: 10px;
    font-style: italic;
    background-color: #6e9143;
    padding-top: 15px;
    padding-bottom:15px;
}

img {
    width: 400px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

h3 {
    color: #6e9143;
    font-size: 25px;
    margin-bottom: 0;
}

a:hover {
    color: #6e9143;
}

p, ul, ol {
    margin-top: 10px;
}
